.loginWapper {
    width: 600px;
    margin: 0 auto;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-top: 3px solid #4285f4;
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .bodyWapper {
        width: 100%;
        .headeWapper {
            text-align: center;
            margin-top: 68px;
            margin-bottom: 49px;
        }
        .formBody {
            width: 80%;
            margin: 0 auto;
        }
    }
    .footerWapper {
        text-align: center;
        margin-top: 20px;
    }
}
