@import 'normalize.css';

:root {
    --danger: #dc3545;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --icon-success: #47d864;
    --icon-warning: #ffb702;
    --icon-error: #ff623d;
    --effect: hover 1s linear infinite;
    --backGroundColer: #ffffff;
    // --box-shadow:;

    --btn-success: #2e7d32;
    --btn-box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
        0px 1px 5px 0px rgb(0 0 0 / 12%);
    --btn-hover-success: #1b5e20;
    --btn-hover-box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
        0px 1px 10px 0px rgb(0 0 0 / 12%);
    --btn-background-color-error: rgba(211, 47, 47, 0.5);
    --btn-boder-error: rgba(211, 47, 47, 0.5);
    --btn-hover-danger: #d32f2f;

    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    --input-boder: rgba(0, 0, 0, 0.14);
    --input-boder-focus: rgba(0, 0, 0, 0.54);
    --input-box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);

    --growth-from: 0.7;
    --growth-to: 1;

    --font-family: 'Roboto', sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
}

// .active {
//     display: inherit;
//     background: red;
// }
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.1s;
    .modalBody {
        width: 40%;
        margin: 0 auto;
        animation: growth linear 0.1s;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

/// animation

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
