.profileWapper {
    // height: 500px;
    .profileHeader {
        margin-bottom: 10px;
        .languageWapper {
            position: relative;
            cursor: pointer;
            margin-bottom: 10px;
            display: inline-block;
        }
        .profileEdit {
            float: right;
            font-size: 18px;
            cursor: pointer;
            color: var(--icon-success);
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
