.container {
    position: absolute;
    top: 30px;
    // right: 50%;
    left: 32%;
    .body {
        // width: 400px;
        // height: 90px;
        padding: 20px;
        border: 1px solid;
    }
}
