.container {
    background: var(--backGroundColer);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    .bottom {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}
.topCenter {
    position: absolute;
    top: 30px;
    right: 0px;
    border-radius: 4px;
    width: 400px;
    z-index: 5;
}

.center {
    position: absolute;
    top: 30px;
    right: 35%;
    width: 450px;
    // padding: 15px;
}
