.headerWapper {
    // background: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 18%);
    background: var(--backGroundColer);
    padding: 0 20px;

    height: var(--default-layout-header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .headerLeft {
        display: flex;
        align-items: center;
        gap: 20px;
        .logo {
            width: 50px;
        }
    }
    .userInfor {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-right: 20px;
        .containerBell {
            cursor: pointer;
            position: relative;
            .iconBell {
                font-size: 2.7rem;
                border: 1px solid white;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
            }
            .modalWapperNotification {
                .sizeNotification {
                    display: inline-block;
                    position: absolute;
                    top: -8px;
                    right: 1px;
                    width: 20px;
                    height: 20px;
                    background: var(--danger);
                    border-radius: 50%;
                    text-align: center;
                    color: var(--white);
                }
                .moDalContent {
                    list-style: none;
                    cursor: default;
                    .itemNotification {
                        padding: 10px;
                        .notificationContent {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 5px;
                            .avatar {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .bottom {
                    padding-top: 10px;
                    text-align: center;
                    border-top: 1px solid var(--input-boder);
                    cursor: default;
                }
            }
        }
        .userWapper {
            display: flex;
            gap: 10px;
            align-items: center;
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            .users {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.iconBars {
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}
.container {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    animation: var(--fadeIn);
    .content {
        width: 40%;
        background-color: #fff;
        box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
        display: flex;
        flex-direction: column;
        animation: var(--slideIn);
        padding: 10px;
        overflow: auto;
        .iconClose {
            font-size: 3.3rem;
            float: right;
            margin-right: 20px;
            margin-top: 10px;
            cursor: pointer;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
        .body {
            margin-left: 10px;
            .userWapper {
                text-align: center;
                border-bottom: 1px solid var(--input-boder);
                padding-bottom: 10px;
                .avatar {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .users {
                    display: flex;
                    flex-direction: column;
                    .fullName {
                        font-weight: 600;
                    }
                }
            }
            .navWapper {
                margin-bottom: 20px;
                margin-top: 20px;
                .navLists {
                    list-style: none;

                    .navItem {
                        margin-top: 10px;
                        // text-align: center;
                        .item {
                            padding: 10px;
                            cursor: pointer;
                            &:hover {
                                background-color: #f0f0f0;
                                color: #292929;
                            }
                        }
                        .active {
                            background-color: #f0f0f0;
                            color: #292929;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
    .headerWapper {
        .headerLeft {
            display: none;
        }
        .userInfor {
            .userWapper {
                display: none;
            }
        }
    }
}

// mobile
@media only screen and (max-width: 739px) {
    .container {
        .content {
            width: 70%;
        }
    }
    .modalWapperNotification {
        .moDalContent {
            // width: 100%;
            .itemNotification {
                padding: 5px !important;
            }
        }
    }
}

// mobile
@media only screen and (max-width: 500px) {
    .modalWapperNotification {
        display: none;
    }
    .iconBell {
        display: none;
    }
}
