.formEditWapper {
    .formGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        .previewImages {
            width: 600px;
            height: 400px;
        }
        .images {
            cursor: pointer;
            margin: 0 auto;
            display: inherit;
            object-fit: contain;
        }
    }
}

// mobile
@media only screen and (max-width: 739px) {
    .formEditWapper {
        .formGroup {
            display: flex;
            flex-direction: column;
        }
    }
}
