.container {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .actions {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}

// mobile
@media only screen and (max-width: 739px) {
    .container {
        .table {
        }
    }
}
